{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}Barangays{% endblock %}

{% block page_title %}
<div class="card glass-effect border-0 shadow-lg mb-4">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <i class="fas fa-map-marker-alt fa-fw me-3" style="font-size: 1.2rem"></i>
        <h6 class="fw-bold mb-0 text-sm text-gradient">Barangays</h6>
      </div>
      <div class="btn-group" role="group" aria-label="Barangay actions">
        {% if request.user.user_type == "Brgy. Admin" %}
        <button
          type="button"
          class="btn btn-primary btn-sm shadow-sm"
          data-bs-toggle="modal"
          data-bs-target="#createBarangayModal"
          onclick="setFormMethod('POST')"
        >
          <i class="fas fa-plus-circle fa-sm me-2"></i>Create Barangay
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-sm shadow-sm"
          id="printBarangayBtn"
        >
          <i class="fas fa-print fa-sm me-2"></i>Print Barangays
        </button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="card glass-effect border-0 shadow-lg mb-4">
  <div class="card-body" id="barangayContainer">
    {% if error_message %}
    <div class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% else %}
    <p>Barangay data will be displayed here.</p>
    {% endif %}
  </div>
</div>

<!-- Create/Edit Modal component -->
{% include 'frontend/components/modal/barangay/add-edit-barangay.html' %}

<!-- Delete Confirmation Modal -->
{% include 'frontend/components/modal/barangay/delete-barangay.html' %}
{% endblock %}

{% block extra_js %}
<script>
  const userType = "{{ request.user.user_type }}";
</script>
<script src="{% static 'js/barangay.js' %}"></script>
{% endblock %}
